:host {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.link-icon-frame {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    background: var(--footer-gradiente-135);
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}