<h3 class="footer-links-title">Drop Me a Message</h3>
<p class="footer-links-message">My motivational speech</p>

<app-link-card
linkTitle="Github"
linkImage='https://api.iconify.design/mingcute/github-line.svg?color=white&width=36'
linkSrc="https://github.com/jfan-dev"
></app-link-card>

<app-link-card
linkTitle="jfan.dev@gmail.com"
linkImage='https://api.iconify.design/line-md/email-twotone.svg?color=white&width=36'
linkSrc="mailto:jfan.dev@gmail.com"
></app-link-card>

<app-link-card
linkTitle="LinkedIn"
linkImage='https://api.iconify.design/fa/linkedin.svg?color=white&width=32'
linkSrc="www.linkedin.com/in/jfan-dev"
></app-link-card>
