<p>Expertise</p>

<div class="expertise-box">

    <app-skill-tag
    expertiseName = "Java"
    expertiseLink = "https://www.java.com/en/"
    expertiseIcon = "https://api.iconify.design/devicon/java.svg"
    ></app-skill-tag>

    <app-skill-tag
    expertiseName = "Angular"
    expertiseLink = "https://angular.io/"
    expertiseIcon = "https://api.iconify.design/logos/angular-icon.svg"
    ></app-skill-tag>
    
    <app-skill-tag
    expertiseName = "Typescript"
    expertiseLink = "https://www.typescriptlang.org/"
    expertiseIcon = "https://api.iconify.design/devicon/typescript.svg"
    ></app-skill-tag>
    
    <app-skill-tag
    expertiseName = "Javascript"
    expertiseLink = "https://www.javascript.com/"
    expertiseIcon = "https://api.iconify.design/logos/javascript.svg"
    ></app-skill-tag>

</div>

<div class="expertise-box">

    <app-skill-tag
    expertiseName = "CSS"
    expertiseLink = "https://www.w3.org/Style/CSS/Overview.en.html"
    expertiseIcon = "https://api.iconify.design/vscode-icons/file-type-css.svg"
    ></app-skill-tag>
    
    <app-skill-tag
    expertiseName = "HTML"
    expertiseLink = "https://html.spec.whatwg.org/"
    expertiseIcon = "https://api.iconify.design/vscode-icons/file-type-html.svg"
    ></app-skill-tag>

</div>