<h2>portfolio</h2>

<app-portfolio-card 
    [isReversed] = "true" 
    projectNumber = "Project 1"
    description = "Esse [e] meu projeto se n'ao gostou faz melhor"
    projectImage = "/assets/dog-wearing-business-suit_3.jpg"
    projectImageAltText = "Image de um pitbull de terno"
></app-portfolio-card>

<app-portfolio-card 
    [isReversed] = "false" 
    projectNumber = "Project 2"
    description = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, dolores. Voluptates iusto laboriosam qui incidunt ducimus optio consequatur minima error quam pariatur excepturi aperiam earum, quae officia. Ipsum, nemo obcaecati."
    projectImage = "/assets/dog-wearing-business-suit_3.jpg"
    projectImageAltText = "Image de um pitbull de terno"
></app-portfolio-card>

<app-portfolio-card 
    [isReversed] = "true" 
    projectNumber = "Project 3"
    description = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, dolores. Voluptates iusto laboriosam qui incidunt ducimus optio consequatur minima error quam pariatur excepturi aperiam earum, quae officia. Ipsum, nemo obcaecati."
    projectImage = "/assets/dog-wearing-business-suit_3.jpg"
    projectImageAltText = "Image de um pitbull de terno"
></app-portfolio-card>

<app-portfolio-card 
    [isReversed] = "false" 
    projectNumber = "Project 4"
    description = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, dolores. Voluptates iusto laboriosam qui incidunt ducimus optio consequatur minima error quam pariatur excepturi aperiam earum, quae officia. Ipsum, nemo obcaecati."
    projectImage = "/assets/dog-wearing-business-suit_3.jpg"
    projectImageAltText = "Image de um pitbull de terno"
></app-portfolio-card>