<div [ngClass]="{'card-container': !isReversed, 'card-container-reversed': isReversed}">
    <div class="frame">
        <div class="img-container">
            <img
            src= {{projectImage}} 
            alt= {{projectImageAltText}}
            >
        </div>
    </div>

    <div class="text-container">
        
        <h2>{{projectNumber}}</h2>
        <h3>{{projectName}}</h3>
        
        <p class="text-description">{{description}}</p>
        
        <a class="btn-area" href="">
            <img src="https://api.iconify.design/heroicons/arrow-long-right-solid.svg?color=white&width=32" alt="">
            Read more
        </a>
           
    </div> 
</div>


