/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Poppins:wght@300;400;600;700;900&display=swap');

* {
    /* Css Reset */

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;  

    /* Color palette */

    --forest-black: #001E11;
    --charcoal-green: #002D1A;
    --deep-forest-green: #013A20; /*(Main Color)*/
    --hunter-green: #00532D;
    --dark-green: #006738;

    --btn-gradiente: linear-gradient(90deg, hsla(0, 0%, 5%, 1) 0%, hsla(126, 82%, 33%, 1) 100%);

    --footer-gradiente-315: linear-gradient(315deg, hsla(153, 100%, 20%, 1) 30%, hsla(153, 97%, 12%, 1) 100%);
    --footer-gradiente-135: linear-gradient(135deg, hsla(153, 100%, 20%, 1) 38%, hsla(153, 97%, 12%, 1) 100%);
    --footer-gradiente-0: linear-gradient(0deg, hsla(153, 100%, 20%, 1) 25%, hsla(153, 97%, 12%, 1) 100%);


    /* font-family: 'Cinzel', serif; */
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

body {
    background: radial-gradient(circle, hsla(153, 97%, 12%, 1) 0%, hsla(154, 100%, 6%, 1) 100%);
}

.app-container {
    width: 85%;
    margin: auto;
}

.margin-bottom {
    margin-bottom: 12rem;
}

.link-deco-none {
    text-decoration: none;
}

