/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Poppins:wght@300;400;600;700;900&display=swap');

* {
    /* Css Reset */

    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;  

    /* Color palette */

    --forest-black: #001E11;
    --charcoal-green: #002D1A;
    --deep-forest-green: #013A20; /*(Main Color)*/
    --hunter-green: #00532D;
    --dark-green: #006738;

    --btn-gradiente: linear-gradient(90deg, hsla(0, 0%, 5%, 1) 0%, hsla(126, 82%, 33%, 1) 100%);


    /* font-family: 'Cinzel', serif; */
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

.app-container {
    width: 70%;
    margin: auto;
}

body {
    background: radial-gradient(circle, hsla(153, 97%, 12%, 1) 0%, hsla(154, 100%, 6%, 1) 100%);
}